@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Styles */
body {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark Mode Styles */
  body.dark {
    background-color: #121212;
    color: #fff;
  }
  
  /* Other components */
  textarea {
    background-color: #333;
    color: #fff;
  }
  
  button {
    background-color: #444;
  }
  
  button:hover {
    background-color: #555;
  }
  